.container {
  margin: 0 auto;
}
.loginform {
  background: linear-gradient(45deg, #ba4747, #1c1818);
  width: 80%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  gap: 1rem;
  color: #fff;
}

input {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 2px;
}

button {
  border: none;
  outline: none;
  width: 100px;
  padding: 0.5rem;
  border-radius: 2px;
}
